{% extends 'base.html.twig' %}

{% block body %}









    <ul>
        {% for participant in event.participants %}


            <div class="list-group">
                <a  class="list-group-item list-group-item-action active" aria-current="true">
                    Liste des participants:
                </a>
                <a href="{{ path('user_details',{"id":participant.id}) }}" class="list-group-item list-group-item-action">{{ participant.firstName }} {{ participant.lastName }}</a>

            </div>
        {% endfor %}
        <div class="container-fluid">
            <h4>Lieu : {{ event.place.name }}</h4>


            <li>Rue : {{ event.place.street }} </li>
            <li>Code postal : {{ event.place.city.zipCode }}</li>
            <li>Latitude : {{ event.place.latitude }}</li>
            <li>Longitude : {{ event.place.longitude }} </li>

        </div>
    </ul>


    <a href="{{ path('event_join',{"id":event.id}) }}"><button>S'inscire</button></a>
    <a href="{{ path('event_update',{"id":event.id}) }}"><button>Modifier l'évenement</button></a>
    <a href="{{ path('event_delete',{"id":event.id}) }}"><button>Supprimer l'événement</button></a>


{% endblock %}

{% block title %}

{% endblock %}
