{% extends 'base.html.twig' %}
{% block title %}Log in!{% endblock %}
{% block body %}
    <div class="container vh-100 d-flex justify-content-center align-items-center">
        <form method="post" class="card p-4 w-100 form-signin" style="max-width: 400px;">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('user_logout') }}">Logout</a>
                </div>
            {% endif %}
            <h1 class="h3 mb-3 font-weight-normal text-center">Connectez-vous à votre compte</h1>
            <div class="form-label-group mb-3">
                <label for="inputEmail"
                       class="col-form-label"> Email </label>
                <input type="email"
                       value="{{ last_username }}"
                       name="email" id="inputEmail"
                       class="form-control"
                       placeholder="Email"
                       autocomplete="email" required autofocus>
            </div>
            <div class="form-label-group mb-3">
                <label for="inputPassword" class="col-form-label"> Mot de passe </label>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" autocomplete="current-password" required>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Se souvenir de moi
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Se connecter</button>
        </form>
    </div>
{% endblock %}