{% extends 'base.html.twig' %}
{% block title %}Register{% endblock %}
{% block body %}
    <div class="container vh-100 d-flex justify-content-center align-items-center">
        <div class="card p-4 w-100" style="max-width: 500px;">
            <h1 class="mb-4 card-title  h3  font-weight-normal text-center">Ajouter un nouvel utilisateur </h1>
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            {{ form_start(registrationForm) }}
            <div class="form-group row mb-3">
                {{ form_label(registrationForm.firstName, 'Prénom', {'label_attr': {'class': 'col-sm-4 col-form-label'}}) }}
                <div class="col-sm-8">
                    {{ form_widget(registrationForm.firstName, { 'attr': { 'class': 'form-control' } }) }}
                    {{ form_errors(registrationForm.firstName) }}
                </div>
            </div>
            <div class="form-group row mb-3">
                {{ form_label(registrationForm.lastName, 'Nom', {'label_attr': {'class': 'col-sm-4 col-form-label'}}) }}
                <div class="col-sm-8">
                    {{ form_widget(registrationForm.lastName, { 'attr': { 'class': 'form-control' } }) }}
                    {{ form_errors(registrationForm.lastName) }}
                </div>
            </div>
            <div class="form-group row mb-3">
                {{ form_label(registrationForm.phone, 'Télèphone', {'label_attr': {'class': 'col-sm-4 col-form-label'}}) }}
                <div class="col-sm-8">
                    {{ form_widget(registrationForm.phone, { 'attr': { 'class': 'form-control' } }) }}
                    {{ form_errors(registrationForm.phone) }}
                </div>
            </div>
            <div class="form-group row mb-3">
                {{ form_label(registrationForm.email, 'Email', {'label_attr': {'class': 'col-sm-4 col-form-label'}}) }}
                <div class="col-sm-8">
                    {{ form_widget(registrationForm.email, { 'attr': { 'class': 'form-control' } }) }}
                    {{ form_errors(registrationForm.email) }}
                </div>
            </div>
            <div class="form-group row mb-3">
                {{ form_label(registrationForm.plainPassword.first, null, {'label_attr': {'class': 'col-sm-4 col-form-label'}}) }}
                <div class="col-sm-8">
                    {{ form_widget(registrationForm.plainPassword.first, { 'attr': { 'class': 'form-control' } }) }}
                    {{ form_errors(registrationForm.plainPassword.first) }}
                </div>
            </div>
            <div class="form-group row mb-3">
                {{ form_label(registrationForm.plainPassword.second, null, {'label_attr': {'class': 'col-sm-4 col-form-label'}}) }}
                <div class="col-sm-8">
                    {{ form_widget(registrationForm.plainPassword.second, { 'attr': { 'class': 'form-control' } }) }}
                    {{ form_errors(registrationForm.plainPassword.second) }}
                </div>
            </div>
            <div class="form-group row mb-3">
                {{ form_label(registrationForm.campus, null, {'label_attr': {'class': 'col-sm-4 col-form-label'}}) }}
                <div class="col-sm-8">
                    {{ form_widget(registrationForm.campus, { 'attr': { 'class': 'form-control' } }) }}
                    {{ form_errors(registrationForm.campus) }}
                </div>
            </div>
            <div class="form-group row mb-3">
                {{ form_label(registrationForm.poster, 'Ma photo', {'label_attr': {'class': 'col-sm-4 col-form-label'}}) }}
                <div class="col-sm-8">
                    {{ form_widget(registrationForm.poster, { 'attr': { 'class': 'form-control' } }) }}
                    {{ form_errors(registrationForm.poster) }}
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class=" btn btn-lg btn-primary btn-block">Enregistrer</button>
            </div>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
