{% extends 'base.html.twig' %}

{% block title %}Ajouter un lieu{% endblock %}

{% block body %}
    <div class="container mt-4 mb-5 col-5 ">
        <div class="card">
            <div class="card-header">
                <h1 class="text-center ">Ajout d'un lieu </h1>
            </div>
            <div class="card-body">
                {{ form_start(placeForm) }}
            <div class="row">
                <div class="col-6">
                    {{ form_label(placeForm.City) }}
                    {{ form_widget(placeForm.City, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="col-6">
                    <a href="{{ path('city_create') }}">Ajouter une ville</a>
                </div>
            </div>

                <div class="mb-3">
                    {{ form_label(placeForm.name) }}
                    {{ form_widget(placeForm.name, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="mb-3">
                    {{ form_label(placeForm.street) }}
                    {{ form_widget(placeForm.street, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="mb-3">
                    {{ form_label(placeForm.latitude) }}
                    {{ form_widget(placeForm.latitude, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="mb-3">
                    {{ form_label(placeForm.longitude) }}
                    {{ form_widget(placeForm.longitude, {'attr': {'class': 'form-control'}}) }}
                </div>


                <div class="row">


                    <button type="submit" class="btn btn-primary mx-auto col-3">Ajouter le lieu</button>

                </div>
                {{ form_end(placeForm) }}
            </div>
        </div>
    </div>
{% endblock %}
