<nav class="navbar navbar-expand-xl navbar-dark bg-black " >
    <div class="container-fluid">
        <a class="navbar-brand" style="font-family: Merienda;font-size: 2em" > Sortir !</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" >
            <span class="navbar-toggler-icon"></span>

        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
{#              Si on est bien connecté#}
                {% if app.user %}

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path('event_list') }}">Événements</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" href="{{ path('user_registrationsList',{"id": app.user.id}) }}">Mes Inscriptions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ path('user_details',{"id": app.user.id}) }}">Mon Profil</a>
                    </li>

                    {% if app.user %}
                        {% if app.user.roles[0] == 'ROLE_ADMIN' %}
                            <li class="nav-item">
                                <a class="nav-link active" href="{{ path('app_registrationapp_register') }}">Inscrire</a>
                            </li>
                        {% endif %}
                    {%  endif %}

                    <li class="nav-item">
                        <a class="nav-link " href="{{ path('user_logout') }}">Se Déconnecter ({{ app.user.firstName }}) </a>
                    </li>

                {% else %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ path('user_login') }}">Se Connecter </a>
                    </li>

                {% endif %}

            </ul>

        </div>
    </div>
</nav>