{% extends 'base.html.twig' %}

{% block body %}
    <div class="user-details">
        <h2>Détails de l'utilisateur</h2>
        <div>
            <img src="{{ asset('images/posters/' ~ user.poster) }}" alt="Photo de {{ user.firstName }}" class="user-photo">
        </div>
        <div>
            <strong>Email :</strong> {{ user.email }}
        </div>
        <div>
            <strong>Nom de famille :</strong> {{ user.lastName }}
        </div>
        <div>
            <strong>Prénom :</strong> {{ user.firstName }}
        </div>
        <div>
            <strong>Téléphone :</strong> {{ user.phone }}
        </div>
        <!-- Affichage du nombre d'inscriptions de l'utilisateur aux événements -->
        <div>
            <strong>Nombre d'inscriptions :</strong> {{ user.events|length }}
        </div>
        <div>
            <a href="{{ path('user_update', {'id': user.id}) }}">
                <button>Modifier mon profil</button>
            </a>

            <a href="{{ path('event_list') }}">
                <button>Retour à la page d'accueil</button>
            </a>
        </div>
    </div>
{% endblock %}

{% block title %}
    Détails de l'utilisateur - {{ user.firstName }} {{ user.lastName }}
{% endblock %}
