{% extends 'base.html.twig' %}
{% block body %}
    <div class="container vh-100 d-flex justify-content-center align-items-center">
        <div class="card p-4 w-100" style="max-width: 500px;">
            <div class="user-details mt-3">
                <h1 class="card-title text-center mb-4">Profil de {{ user.firstName }}</h1>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <img src="{{ asset('images/posters/' ~ user.poster) }}" alt="Photo de {{ user.firstName }}" class="rounded-circle img-thumbnail mb-3" style="width: 150px; height: 150px; object-fit: cover; ">
                    </div>
                    <div class="col-md-12">
                        <div class="mb-3">
                            <strong>Nom de famille :</strong> {{ user.lastName }}
                        </div>
                        <div class="mb-3">
                            <strong>Prénom :</strong> {{ user.firstName }}
                        </div>
                        <div class="mb-3">
                            <strong>Téléphone :</strong> {{ user.phone }}
                        </div>
                        <div class="mb-3">
                            <strong>Email :</strong> {{ user.email }}
                        </div>
                        <div class="mb-3">
                            <strong>Campus :</strong> {{ user.campus.name }}
                        </div>

                        <div class="text-center">

                            {% if app.user.id == user.id  %}
                            <a href="{{ path('user_update', {'id': user.id}) }}" class="btn btn-primary me-2">Modifier mon profil</a>
                            {% endif %}

                            <a href="{{ path('event_list') }}" class="btn btn-secondary">Retour à la page d'accueil</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block title %}
    Détails de l'utilisateur - {{ user.firstName }} {{ user.lastName }}
{% endblock %}
